body{
   background-color: rgb(35, 147, 240);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:  Verdana, Geneva, Tahoma, sans-serif;
   color: antiquewhite;
}




div.juego{
   /* background-color: plum; */
   width: 800px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

div.numero{
   /* background-color: coral; */

   width: 500px;
   margin: 5px;
   display: flex;
   justify-content: space-between;
}

div.numero1{
   width: 300px;
   /* background-color: yellow; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 5px;
}

span{
   width: 200px;
   height: 30px;
   margin: 10px;
   border-radius: 50px;
   background-color: rgb(174, 209, 17);
   border-color: rgb(158, 235, 15);
   color: rgb(105, 46, 11);
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

p{
   font-size: 30px;
   text-align: center;
}
button{
   border-radius: 20px;
}
div.numero2{
   width: 500px;
   height: 100px;
   margin: 10px;
   border-radius: 50px;
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

input{
   width: 50px;
   height: 30px;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
}
#num{
   width: 100px;
   height: 50px;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
}

